<!DOCTYPE html>
<html>

  <% include ./partials/head %>

<body class="text-center">

  <% include ./partials/header %>
  
  <% include ./partials/errorMessage %>
  
  <% include ./partials/scripts %> 

</body>
</html>